*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    height: 15vh; 
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
nav {
    grid-area: nav;
    background-color:  white;
    color: black;
    display: flex;
    justify-content: flex-end;
    height: 10vh;
}
nav ul {
    align-items: center;
}
nav ul li {
    display: inline-block;
    padding: 0px 10px;
    justify-content: space-between;
}
nav ul li ol {
    display: flex;
    flex-direction: column;
}
.parrafoIndex {
    font-size: 12px;
    color: rgb(216, 238, 16);
    word-spacing: 8px;
    line-height: normal;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.247);
    padding: 10px 2px 10px 2px;
}
.parrafoBio {
    font-size: 12px;
    color: rgb(8, 116, 92);
    word-spacing: 8px;
    line-height: normal;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.247);
    padding: 10px 2px 10px 2px;
}
.tituloPrincipal1 {
    color: whitesmoke;
    letter-spacing: 15px;
    text-align: center;
    padding: 25px 10px 25px 10px;
}
h2 {
    color: rgb(8, 116, 92);
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 5px;
    text-align: center;
    padding: 25px 10px 25px 10px;
}
.fondoIndex {
        background-image: url("../assets/sigmund-uS_MT4wUXf0-unsplash.jpg"); 
        display: fex;  
        height: 70vh;    
    }
.fondoBio {
        background-image: url("https://images.unsplash.com/photo-1611072337226-1140ab367200?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1388&q=80"); 
        display: fex;    
        height: 70vh;  
    }
.fondoServicios {
        background-image: url("https://media.istockphoto.com/photos/bridge-deck-underside-picture-id908474448?b=1&k=20&m=908474448&s=170667a&w=0&h=Xi8ROAPAZ9iNAylt4uepdZVJ2YemIwj-dJz7KvmHL34="); 
        display: fex; 
        height: 70vh;     
    }
.fondoContacto {
        background-image: url("https://media.istockphoto.com/photos/cracked-wall-picture-id482951137?k=20&m=482951137&s=612x612&w=0&h=uJsRre7xqWUoc1t6fDUCYRM4CKTL2rXIZnxw8DXMwCU="); 
        display: fex;
        height: 70vh;  
        align-items: center;      
    }
.galeria {
    display: flex;
    background-color: rgba(132, 247, 228, 0.205);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: last baseline;
    height: 75vh;
    }
.card img{
    max-width: 280px;
    height: 220px;
    opacity: .4;
    border: 4px double rgba(109, 207, 175, 0.651);
}
.card img:hover{
    opacity: 1;
    border: solid #88ff00
}
form {
    text-align: center;
}
footer {
    background-color: orange; 
    align-items: center;
    display: flex;   
}
footer ul li {
    text-align: left;
}
footer ul .mail {
    text-align: right;
    align-items: center;
}